Source: video-tagger
Section: video
Priority: optional
Maintainer: Video Tagger Developers <masteralex@inbox.ru>
Build-Depends: debhelper-compat (= 13), meson, valac, libgtk-3-dev, libgee-0.8-dev, libjson-glib-dev, libgstreamer1.0-dev, libgstreamer-plugins-base1.0-dev
Standards-Version: 4.6.2

Package: video-tagger
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: local video range tagging application
 GTK3 application for marking tagged time ranges in videos.
